<table class="container table mt-3 table-hover" style="text-align:center;">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="5">
                  FriendshipRequest
            </th>
          </tr>
      <tr>
      
		     	<th scope="col">status</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dat of data ; let i = index" id="1">
        <th scope="row">i</th>
		     	<th scope="row">{{dat.status}}</th>
	    <td>
	        <a (click)="deleteFriendshipRequest(dat.id)">delete</a>
	    </td>
      </tr>
    </tbody>
</table>