<table class="container table mt-3 table-hover" style="text-align:center;">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="5">
                  User
            </th>
          </tr>
      <tr>
      
	         	<th scope="col">username</th>
	         	<th scope="col">password</th>
	         	<th scope="col">name</th>
	         	<th scope="col">surname</th>
		     	<th scope="col">dateOfBirth</th>
	         	<th scope="col">location</th>
	         	<th scope="col">biography</th>
		     	<th scope="col">height</th>
		     	<th scope="col">weight</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dat of data">
        <th scope="row">1</th>
		<th scope="row">{{dat.username}}</th>
		<th scope="row">{{dat.password}}</th>
		<th scope="row">{{dat.name}}</th>
		<th scope="row">{{dat.surname}}</th>
		<th scope="row">{{dat.dateOfBirth}}</th>
		<th scope="row">{{dat.location}}</th>
		<th scope="row">{{dat.biography}}</th>
		<th scope="row">{{dat.height}}</th>
		<th scope="row">{{dat.weight}}</th>
	    <th>
	        <a (click)="deleteUser(dat.id)">delete</a>
	    </th>
      </tr>
    </tbody>
</table>