<table class="container table mt-3 table-hover" style="text-align:center;">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="5">
                  FriendshipRequestNotification
            </th>
          </tr>
      <tr>
      
	         	<th scope="col">description</th>
		     	<th scope="col">date</th>
		     	<th scope="col">type</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dat of data ; let i = index" id="1">
        <th scope="row">i</th>
	         	<th scope="row">{{dat.description}}</th>
		     	<th scope="row">{{dat.date}}</th>
		     	<th scope="row">{{dat.type}}</th>
	    <td>
	        <a (click)="deleteFriendshipRequestNotification(dat.id)">delete</a>
	    </td>
      </tr>
    </tbody>
</table>